<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Queue</title>
    <link rel="stylesheet" href="../public/style.css"/>
</head>
<body class="p-2 items-center flex flex-col gap-2 flex-col justify-center w-full h-screen">
<h1 class="text-3xl font-normal">Pilih Loket
</h1>

<main class="md:flex-row flex gap-2 flex-col justify-center w-full">
    <a
        href="/pawnshops/form"
        class="border border-3 p-5 rounded text-sky-500 font-bold border-purple-300 hover:bg-purple-300 hover:text-white">
        Loket 1 (Gadai)
    </a>

    <a
        href="/queues/request"
        class="border border-3 p-5 rounded text-sky-500 font-bold border-purple-300 hover:bg-purple-300 hover:text-white">
        Loket 2 (Kasir)
    </a>

</main>
</body>
</html>
