<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Queue</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>
<body class="p-2 flex items-center justify-center w-full h-screen">
    <div class="max-w-xs p-5 rounded-lg shadow shadow-sky-500 shadow-lg bg-sky-500 text-white font-bold">
        <h1 class="text-xs text-center">Nomor Antrian</h1>
        <h1 class="text-5xl text-center">
            {{ .QueueNumber }}
        </h1>
    </div>
</body>
</html>
